// Specific CSS for your home-page
.background {
  background-color: white;
}

.margin-div {
  margin: 100px 0px;
}

.margin-h {
  margin: 70px 0px 50px;
}

.color-primary {
  color: $color-primary;
}

@include mobile-only {
  #carouselExampleSlidesOnly {
    display: none;
  }
}
