<div class="fix-nf">
  <% if @user.viewer? %>
    <%= render "users/my-bookings" %>
  <% else %>
    <%= render "users/show-streamer" %>
    <% if @user == current_user && current_user.streamer? %>
      <a href=<%= @link_to_google_auth %>>Account Settings</a>
      <% if !@user.stream_name.nil? %>
        <%= @user.stream_name %>
      <% end %>
    <% end %>
  <% end %>


