<% if @user.viewer? %>
  Rien ici, <%= link_to "home", root_path %>
<% else %>
  <h2>PROFILE DU STREAMER</h2>
  <% if @user == current_user && current_user.streamer? %>
    <a href=<%= @link_to_google_auth %>>Account Settings</a>
    <%= render "show-streamer" %>
  <% end %>
<% end %>


