<% if @user.viewer? %>
  Rien ici, <%= link_to "home", root_path %>
<% else %>
  PROFILE DU STREAMER
  <% if @user == current_user && current_user.streamer? %>
    <a href="https://accounts.google.com/o/oauth2/auth?client_id=206719754391-rer1a7fdjuf8g80sq4l1ab55bptsc2n7.apps.googleusercontent.com&redirect_uri=http://localhost:3000&scope=https://www.googleapis.com/auth/youtube&response_type=code&access_type=offline">test</a>
    <%= link_to "Nouvelle Creek", creeks_new_path, class: "btn btn-primary" %>
    <%= render "show-streamer" %>
  <% end %>
<% end %>


