<div class="card-streamer card-border">
    <%= cl_image_tag user.photo.key, class: "stream-resa border-radius-left", height:200, width:200, crop: :fill %>
    <div class="card-body p-3">
      <h2><%= user.username %></h2>
      <p><%= user.description %></p>
      <%= link_to "Profil", user_path(user), class: "btn btn-primary mt-2 btn-fit w-25 align-self-center" %>
    </div>
</div>





