<div class="card-streamer card-border">
    <%= cl_image_tag user.photo.key, class: "stream-resa border-radius-left", height:200, width:200, crop: :fill %>
    <div class="row card-body">
      <h2><%= user.username %></h2>
      <div class="col-lg-8">
      <p><%= user.description %></p>
      </div>
      <div class="col-lg-4">
      <%= link_to "Profil", user_path(user), class: "btn btn-primary mt-2 btn-fit w-25" %>
      </div>
    </div>
</div>





