<footer>
  <div class="footer col-12">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright mr-5">
      There's still room for improvement....<i class="fas fa-heart"></i>
    </div>
  </div class="col-12">
  <div class="d-flex justify-content-center footer-copyright footer text-center py-3">© 2020 Copyright:
    <a href="https://creeks.app.com/"> Creeks.app.com</a>
  </div>
</footer>
