<footer>
  <div class="footer col-12">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/Creeksapp-102392621535312/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div>
      <p>Vous souhaitez recevoir notre newsletter ?</p>
        <form class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Renseignez votre email ici !"
                  aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-cta my-0" type="button">Sign up</button>
                </div>
        </form>

  </div class="col-12">
  <div class="d-flex justify-content-center footer-copyright footer text-center py-3">© 2020 Copyright : Creeks.app
  </div>
    </div>
</footer>
