<!-- a mettre dans la home quand le moment viendra -->
<!-- ----- ANTOINE -->


<div class = "text pt-3">
  <div class="card-deck margin-div">
      <div class="card card-border">
          <%= cl_video_tag("production-id-3735537_3hwN81sB.compressed_cpo823", controls: true, :width=>350, :crop=>"scale", secure: true)%>
            <div class="card-body">
              <h5 class="card-title">Fabiola - 60min</h5>
              <p class="card-text">Apprendre la position du Scorpion</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">8 euros</small>
            </div>
      </div>

      <div class="card card-border">
        <%= cl_video_tag("production-id-4325592-hircnzigcompressed-acymlnsbcompressed_nbEmMhDa.compressed_gniasp", controls: true, :height=>200, :width=>350, :crop=>"scale")%>
          <div class="card-body">
            <h5 class="card-title">Michel - 43min</h5>
            <p class="card-text">Grosse séance burpees et tractions, suivi de 30min de cardio</p>
          </div>
        <div class="card-footer">
          <small class="text-muted">10 euros</small>
        </div>
      </div>

      <div class="card card-border">
        <%= cl_video_tag("production-id-4325592-hircnzigcompressed-acymlnsbcompressed_nbEmMhDa.compressed_gniasp", controls: true, :height=>200, :width=>350, :crop=>"scale")%>
          <div class="card-body">
            <h5 class="card-title">Michel - 43min</h5>
            <p class="card-text">Grosse séance burpees et tractions, suivi de 30min de cardio</p>
          </div>
        <div class="card-footer">
          <small class="text-muted">15 euros</small>
        </div>
      </div>

      <div class="card card-border">
        <%= cl_video_tag("pexels-videos-2376809_OKqkp9kK.compressed_pum4op", controls: true, :height=>200, :width=>350, :crop=>"scale")%>
          <div class="card-body">
            <h5 class="card-title">Valentine - 35min</h5>
            <p class="card-text">Séance Fitness</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">16 euros</small>
          </div>
      </div>
  </div>
