<!-- a mettre dans la home quand le moment viendra -->

<!-- Meet the Team -->
<div class="container-fluid padding">
  <div class="row welcome text-center">
    <div class=col-12>
      <h1 class="display-4">Meet the (amazing) Team!</h1>
    </div>
    <hr>
  </div>
</div>

<!-- Fixed Background -->

<figure>
  <div class="fixed-wrap">
    <div id="fixed"></div>
  </div>
</figure>

<!-- Jumbottron -->

<div class="container-fluid">
  <div class="row jumbottron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <p class="lead">Lorem ipsum dolor sit amet. Est recusandae exercitationem et officiis quis nam doloribus deserunt ut omnis ullam a Quis esse qui voluptatem eius. Ut libero aspernatur ex quod quos qui nihil possimus sit molestias deleniti.</p>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
        <a href="#"><button type="button" class="btn btn-outline-secondary btn-lg">Live Stream Hosting</button></a>
      </div>
    </div>
  </div>
</div>



<!-- ----- ANTOINE -->


<div class = "text pt-3">
  <div class="card-deck margin-div">
      <div class="card card-border">
          <%= cl_video_tag("production-id-3735537_3hwN81sB.compressed_cpo823", controls: true, :width=>350, :crop=>"scale")%>
            <div class="card-body">
              <h5 class="card-title">Fabiola - 60min</h5>
              <p class="card-text">Apprendre la position du Scorpion</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">8 euros</small>
            </div>
      </div>

      <div class="card card-border">
        <%= cl_video_tag("production-id-4325592-hircnzigcompressed-acymlnsbcompressed_nbEmMhDa.compressed_gniasp", controls: true, :height=>200, :width=>350, :crop=>"scale")%>
          <div class="card-body">
            <h5 class="card-title">Michel - 43min</h5>
            <p class="card-text">Grosse séance burpees et tractions, suivi de 30min de cardio</p>
          </div>
        <div class="card-footer">
          <small class="text-muted">10 euros</small>
        </div>
      </div>

      <div class="card card-border">
        <%= cl_video_tag("production-id-4325592-hircnzigcompressed-acymlnsbcompressed_nbEmMhDa.compressed_gniasp", controls: true, :height=>200, :width=>350, :crop=>"scale")%>
          <div class="card-body">
            <h5 class="card-title">Michel - 43min</h5>
            <p class="card-text">Grosse séance burpees et tractions, suivi de 30min de cardio</p>
          </div>
        <div class="card-footer">
          <small class="text-muted">15 euros</small>
        </div>
      </div>

      <div class="card card-border">
        <%= cl_video_tag("pexels-videos-2376809_OKqkp9kK.compressed_pum4op", controls: true, :height=>200, :width=>350, :crop=>"scale")%>
          <div class="card-body">
            <h5 class="card-title">Valentine - 35min</h5>
            <p class="card-text">Séance Fitness</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">16 euros</small>
          </div>
      </div>
  </div>
