<div class="container mb-5 mt-5">
  <h1 class="text-center">Streamers du moment</h1>
  <div class="card-deck margin-h">
    <% @streamers.first(3).each do |streamer| %>
        <div class="card card-futur">
          <%= cl_image_tag streamer.photo.key, class: "card-img-top border-radius-top img-fluid", secure: true %>
        <div class="card-body">
          <h5 class="card-title">Decouvrez <%= streamer.username %></h5>
          <p class="card-text"><%= streamer.description %></p>
        </div>
        <div class="text-center my-4">
          <%= link_to "Voir", user_path(streamer), class: "btn btn-primary w-50"  %>
        </div>
        <div class="card-footer">
          <small class="text-muted">Dernière Vidéo : Il y a 2 jours</small>
        </div>
      </div>
    <% end %>
  </div>
</div>
