<h2 class="text-center">Streamers du moments</h2>
<div class = "text">
  <div class="card-deck margin-div">
    <div class="card card-border">
      <%= image_tag "https://res.cloudinary.com/dvwipbafx/image/upload/v1593093309/Adrienne_desktop_nc3njw.jpg", class: "card-img-top img-fluid hw-pic" %>
      <div class="card-body">
        <h5 class="card-title">Meet Michelle - Fitness Instructor</h5>
        <p class="card-text">"Sur un rythme samba, je saurai vous faire danser avec des burpees endiablés.. en plus les 3 premières séances sont offertes !</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card card-border">
      <%= image_tag "https://res.cloudinary.com/dvwipbafx/image/upload/v1593093249/Jacy_desktop_sd9nqm.jpg", class: "card-img-top img-fluid" %>
      <div class="card-body">
        <h5 class="card-title">Meet Matty - Yoga Instructor</h5>
        <p class="card-text">J'aspire à aider les autres à devenir la meilleure version d'eux-mêmes. En consacrant mon temps et mon énergie à les guérir grâce au yoga, au qigong et à la méditation.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3O mins ago</small>
      </div>
    </div>
    <div class="card card-border">
      <%= image_tag "https://res.cloudinary.com/dvwipbafx/image/upload/v1593093273/Jackie_desktop_n8ixnm.jpg", class: "card-img-top img-fluid hw-pic" %>
      <div class="card-body">
        <h5 class="card-title">Meet Aude - Mindfulness Instructor</h5>
        <p class="card-text">Experte reconnue en mindfulness, plongez-vous dans le pouvoir de guérison des vibrations sonores et sensorielles conçues pour vous amener à un état de relaxation profonde et d'harmonie vibratoire..</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 23 mins ago</small>
      </div>
    </div>
  </div>
</div>
