<div id="header" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.washingtonian.com/wp-content/uploads/2020/02/iStock-820933744-scaled.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>CreeksApp</h1>
          <p><strong>There's still room for improvement..</strong></p>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-4 p-0">

    </div>
    <div class="col-12 col-lg-8 pt-3">
      <br>
      <h1><strong>Aujourd’hui plus que jamais, cela peut changer la vie de pouvoir continuer à s'épanouir en pratiquant son sport préféré.. même à domicile !</strong></h1>
      <br>
      <p>Chez <strong>CreeksApp</strong>, nous faisons toujours tout pour simplifier les rencontres entre streamers et viewers</p>
      <p>Nous nous efforçons de créer un endroit où chacun et chacune, dans le monde entier, peut être soi-même et partager de bons moments en se connectant sur notre plateforme. Rejoignez notre communauté ! Rien ne vaut l’énergie d’un cours en bien préparé. Opte pour un cours de yoga, une séance de
Pilates et bien d’autres disciplines avec vos professeurs favoris.</p>
    </div>
  </div>
</div>
