<div class="container-fluid pt-3">
  <div class="row col-12 welcome text-center">
    <div class=col-12>
      <h1 class="display-4">Meet our (amazing) creeks family!</h1>
    </div>
  </div>
</div>

<div class="container-fluid py-3">
  <div class="row padding">
    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card card-border">
        <%= image_tag "https://res.cloudinary.com/dvwipbafx/image/upload/v1592577239/mb9b51djjgg0c1ymw71zk5bebd1r.jpg", class: "illu"%>
        <div class="card-body">
          <h4 class="card-title">Jules</h4>
          <p class="card-text">aka La Machine, c'est celui qui a eu l'idée de Creeks et qui a su convaincre les autres de le rejoindre pour l'aider à construire ce projet ambitieux !</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card card-border">
        <%= image_tag "https://res.cloudinary.com/dvwipbafx/image/upload/v1592578287/f2bd3tkekgs15qahksz5c3nwks33.jpg", class: "illu"%>
        <div class="card-body">
          <h4 class="card-title">Antoine</h4>
          <p class="card-text">aime les chats, les bibines sur les quais, faire du vélo et partager ses biscuits. <br>PS : ne vous fiez pas à son air angélique !</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card card-border">
        <%= image_tag "https://res.cloudinary.com/dvwipbafx/image/upload/v1592577232/lbd3c6rkv6ikkrqcuo443g8xfhoo.jpg", class: "illu"%>
        <div class="card-body">
          <h4 class="card-title">Matthieu</h4>
          <p class="card-text">dit Matty, pro de l'impro des apéros, il sait faire des burpees comme personne !</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex align-items-stretch">
      <div class="card card-border">
        <%= image_tag "https://res.cloudinary.com/dvwipbafx/image/upload/v1593420148/Pauline_1_jfilmo.jpg", class: "illu"%>
        <div class="card-body">
          <h4 class="card-title">Pauline</h4>
          <p class="card-text">ne s'énerve jamais</p>
        </div>
      </div>
    </div>
  </div>
</div>
