.banner {
  background-size: cover;
  color: white;
  height: 570px;
  text-align: right;
  font-size: 30px;
  padding-right: 170px;
}

.banner-creek {
  background-size: cover;
  color: white;
  height: 570px;
  text-align: right;
  font-size: 30px;
  background-position: center;
}

.type {
  font-size: 110px;
  font-weight: bold;
  @include mobile-only {
    font-size: 4rem;
    text-align: center;
  }
}

.brand-h1 {
    padding-bottom: 200px;
}

.background-visuel {
  max-width: 100%;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.hr-half-width {
  width: 80%;
  border: 3px;
  color: $color-primary;
  margin: 0 auto;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.header-banner {
  background-size: cover;
}


