.btn-cta {
  background-color: $color-call-to-action;
  font-size: 10px;
  }

.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
  &:hover {
    background-color: $color-call-to-action;
    color: $color-primary;
    border-color: rgba(0, 0, 0, 0.125);
  }
}

.link {
  font-weight: bolder;
  color: $color-call-to-action;
  opacity: 0.7;
  position: relative;
  bottom: 20px;
  right: -210px;
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}
