.btn-cta {
  background-color: $color-call-to-action;
  font-size: 10px;
  }

.pay-btn {
  font-size: 2rem;
}

.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
  &:hover {
    background-color: $color-call-to-action;
    color: $color-primary;
    border-color: rgba(0, 0, 0, 0.125);
  }
}

.btn-fit {
  width: fit-content;
}

#fullscreen-btn {
  margin: 0 auto;
}
