.chat {
  max-height: 400px;
  overflow: scroll;
  padding: 0;
}

.chat-title {
  position: sticky; /* Set the navbar to fixed position */
  left: 0;
  right: 0;
  top: 0;
  background: white;
  h2 {
    text-align: center;
  }
}


.chat-fullscreen {
  #messages, .form-fullscreen {
    position: relative;
  }
}
