.footer {
  background: $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  color: rgba(0,0,0,0.3);
  color: white;
  font-weight: bold;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.footer-links a {
  color: white;
  opacity: 0.45;
  text-decoration: none;
  font-size: 40px;
  padding-left: 35px;
}

.footer-links a:hover {
  opacity: 1;
}

.fix-nf {
  min-height: calc(100vh - 65px - 80px);
}

@media(max-width: 992px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 800px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }
}
