.picto {
  max-width: 25%;
  height: auto;
}

.illu {
  max-width: 60%;
  height: auto;
  border-radius: 5px;
  margin: 0 auto;
}

.hw-pic {
  height: 430px;
  width: 430px;
}

.streamer-img {
  max-width: 30%;
  height: auto;
  border-radius: 5px;
  margin: 0 auto;
}

