.picto {
  max-width: 25%;
  height: auto;
}

.illu {
  max-width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0 auto;
}

.streamer-img {
  max-width: 33%;
  height: auto;
  border-radius: 10px;
  margin: 0 auto;
}

.streamer-profil {
  max-width: 33%;
  height: auto;
  @include mobile-only {
    max-width: 100%;
    border-radius: 10px;
    height: auto;
  }
}

.mobile-streamer {
  @include mobile-only {
    flex-direction: column;
  }
}

.gif-mobile {
  @include mobile-only {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

