.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-weight: bold;
  color: $color-primary;
  height: 65px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}
