.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-weight: bold;
  color: $color-primary;
  height: 65px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {

  h2 {
    margin-bottom: 0px;
    font-size: 1.8rem;
  }

  img {
    width: 54px;
  }
}

.nav-item
  a {
    color: $color-primary;
  }
  a:hover {
    text-decoration: underline;
    color: $color-call-to-action;
  }

.navbar-light .navbar-nav .nav-link {
  color: $color-primary;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: transparent;
}
