.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-weight: bold;
  color: $color-primary;
  height: 65px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 80px;
}

.navbar-brand {
  h2 {
    margin-bottom: 0px;
    font-size: 1.8rem;
  }

  img {
    width: 54px;
  }
}
