<div class="video-embarquee" id="fullscreen">
  <iframe id="fullscreen-iframe" width="840px" height="472,5px" src=<%= @embed_link %>  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div id="front"><div class="app"><h2>Creeks.app</h2></div></div>
  <div id="back"></div>
  <div class="chat-fullscreen" id="chat-fullscreen" style="display: none;">
    <%= render "chat" %>
  </div>
</div>
<div class="text-center">
  <button id="fullscreen-btn" class="btn btn-primary mt-2">Plein Ecran</button>
</div>
  <div class="d-flex align-items-center justify-content-between mt-2 mb-5 p-2 row">
    <%= render "infos" %>
  </div>
<%= render "chat" %>

